<footer class="footer">
    <div class="wrapper">
           <p class="font-effect-anaglyph">&copy; 2015 {{@blog.title}}.</p>

          <p>
            <div class="home-content font-effect-anaglyph">
              <a href="https://twitter.com/nodontdie" aria-label="twitter" rel="noopener" target="_blank"><i class="fa fa-twitter social-icon"></i></a>
              <a href="http://nodontdie.tumblr.com/" aria-label="tumblr" rel="noopener" target="_blank"><i class="fa fa-tumblr social-icon"></i></a>
              <a href="http://feeds.feedburner.com/dontdie" aria-label="rss feed" rel="noopener" target="_blank"><i class="fa fa-rss social-icon"></i></a>
              <a href="http://eepurl.com/bdJ6iT" aria-label="newsletter signup" rel="noopener" target="_blank"><i class="fa fa-envelope socia-icon"></i></a>
          </div>
         </p>

          <p>
            <div class="home-content font-effect-anaglyph">
              <a href="https://www.patreon.com/davidwolinsky" rel="noopener" target="_blank"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <h4>Support Via Patreon</h4></a>
            </div>

          </p>

    </div>
</footer>
