<footer class="main-footer">
  <video class="main-footer__bg" autoplay muted playsinline loop src="/assets/img/vhs.m4v"></video>

  <p class="main-footer__copyright">&copy; 2017 {{@blog.title}}.</p>

  <nav class="main-footer__social-links">
    <a href="https://twitter.com/nodontdie" aria-label="twitter" rel="noopener" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://nodontdie.tumblr.com/" aria-label="tumblr" rel="noopener" target="_blank">
      <i class="fa fa-tumblr"></i>
    </a>
    <a href="http://feeds.feedburner.com/dontdie" aria-label="rss feed" rel="noopener" target="_blank">
      <i class="fa fa-rss"></i>
    </a>
    <a href="http://eepurl.com/bdJ6iT" aria-label="newsletter signup" rel="noopener" target="_blank">
      <i class="fa fa-envelope"></i>
    </a>
  </nav>

  <p class="main-footer__patreon">
    <a href="https://www.patreon.com/davidwolinsky" rel="noopener" target="_blank">
      Support Via Patreon
    </a>
  </p>
</footer>
