{{!< default}}

<section class="main-content main-content__404">

  <div class="featured-header">
    {{#if @blog.cover_image}}
      <img class="featured-image" src="{{@blog.cover_image}}" role="presentation" alt="" />
    {{/if}}

    <div class="header-inner home-header-inner">
      <h1>404</h1>

      <p>
        Page Not Found
      </p>
    </div>
  </div>

</section>
