{{!< default}}

<section class="main-content main-content__home">

  <div class="featured-header">
    {{#if @blog.cover_image}}
      <img class="featured-image" src="{{@blog.cover_image}}" role="presentation" alt="" />
    {{/if}}

    <div class="header-inner home-header-inner">
      <h1>{{@blog.title}}</h1>

      <div class="description">
        An interview series about
        <ul class="cycling-topics">
          <li class="visible">surviving videogames</li>
          <li>consumer culture</li>
          <li>social media</li>
          <li>the internet</li>
          <li>media apathy</li>
        </ul>
      </div>

      <p>
        New interviews every other friday
      </p>

      <nav class="useful-links">
        <a href="/about/">README</a>
        <a href="mailto:david@nodontdie.com" target="_blank">EMAIL</a>
      </nav>
    </div>
  </div>

  <div class="archive-loop">
    {{> "loop"}}
  </div>

</section>
