{{!< default}}

<section class="main-content main-content__tag">
  <div class="featured-header">
    <div class="header-inner tag-header-inner">
      <h1 class="tag-title">
        <a href="{{@blog.url}}/tag/{{tag.slug}}/">#{{tag.name}}</a>
      </h1>
    </div>
  </div>

  <div class="archive-loop">
    {{> "loop"}}
  </div>
</section>
