.description {
  &::after {
    content: '\2588';
    display: inline-block;
    transform: translateX(-.2em) scaleX(.5);
    transform-origin: 0 0;
    animation: 1s blink step-end infinite;
  }
}

ul.cycling-topics {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: none;
    &.visible {
      display: block;
    }
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
