.main-header {
  position: absolute;
  z-index: 5;
  height: 130px;
  width: 100%;

  > * {
    position: absolute;
    top: 0;
    padding: 30px;
  }

  button {
    .chromeless-button();
  }
}

.main-header__logo {
  left: 0;
  display: block;

  @media @mobile {
    padding: 20px;
  }

  img {
    width: 15vw;
    max-width: 80px;
    height: auto;
  }
}

.main-header__menu {
  .rgb-shift(6);
  position: absolute;
  right: 0;
  padding: 20px;

  a,
  button {
    color: @white;
    background-color: @black;
    display: inline-block;
    padding: .2em .4em;
    vertical-align: middle;

    &:hover {
      color: @color-charcoal;
      background-color: rgba(255, 255, 255, .4);
    }
  }

  button {
    padding: .2em .2em .2em .3em;

    i {
      position: relative;
      top: 0.05em;
    }
  }

  .light {
    display: none;
  }

  @media @mobile {
    font-size: .7em;

    a,
    button {
      background-color: transparent;
    }
  }
}

.featured-header {
  position: relative;
  background: @black;
  color: @white;
  height: ~'calc(100vw * 9 / 16)';
  max-height: 80vh;
  .font-smoothed();

  @media @mobile {
    height: 100vw;
  }
}

.featured-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}

.header-inner {
  position: absolute;
  width: 100%;
}

.color-mode-dark {
  .main-header__menu {
    .light {
      display: block;
    }

    .dark {
      display: none;
    }
  }
}
