.chromeless-button() {
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 0;
  appearance: none;
  touch-action: manipulation; // to disable tap-to-zoom, to speed up tap-to-click
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.rgb-shift() {
  text-shadow: -.06em 0 red, .06em 0 cyan;
}

.font-smoothed() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
