@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'fontawesome-subset';

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
  .rgb-shift(3);
  .font-smoothed();

  font-size: 8vw;
  color: @white;
  margin: 0;
  line-height: 1;
}

p {
  margin: 1em 0 0;

  &:first-child {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
}

.wrap {
  min-height: 100%;
  position: relative;
}

.color-mode-dark {
  body {
    .font-smoothed();

    background-color: @offblack;
    color: @white;
  }
}

button,
[type='submit'] {
  display: inline-block;
}

::-webkit-input-placeholder {
  color: @offblack;
}

::-moz-placeholder {
  color: @offblack;
}

:-ms-input-placeholder {
  color: @offblack;
}

/*
 * Hide only visually, but have it available for screenreaders.
 *   clip: rect is the deprecated form.
 *   adding 'nowrap'  because wrap uses line feeds but LFs are
 *      not recognized as spaces by screen readers.
 */
.screen-reader-text {
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap;
}

@import 'header';
@import 'footer';
@import 'home';
@import 'post';
@import 'post-list';
@import 'social-share';
@import 'tag';
