@import 'variables';
@import 'normalize';
@import 'mixins';
@import 'fontawesome-subset';

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
}

p {
  margin: 0 0 1em;

  &:first-child {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
}

.wrap {
  min-height: 100%;
  position: relative;
}

@import 'header';
@import 'post';

footer {
  &.footer {
    display: table;
    width: 100%;
    padding: 60px 30px;
    text-align: center;
    background-image: url(/assets/img/screen-rainbow.jpg);
    background-size: cover;
    a {
      text-decoration: none;
    }
    .socials {
      margin-top: 10px;
    }
  }
}

.no-image .post-header-inner {
  max-width: 820px;
}

.main-archive article.result .excerpt {
  padding-top: 0.25em;
  color: #393a3a;
}
.main-archive article.result.cover-image-present {
  background-size: cover;
}
.main-archive article.result.cover-image-present:before {
  content: '';
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.55;
  z-index: 0;
}
.main-archive article.result.cover-image-present h1, .main-archive article.result.cover-image-present h1 a, .main-archive article.result.cover-image-present .excerpt {
  color: #FFF;
}
.main-archive article.result.cover-image-present .inner.post-inner {
  position: relative;
  z-index: 1;
}
.main-archive .inner-element {
  display: block;
  width: 100%;
}

.main-archive {
  article {
    position: relative;

    a {
      text-decoration: none;

      &:hover {
        opacity: .8;

        &.btn,
        &.featured-image {
          opacity: 1;
        }
      }
    }

    &.no-image {
      padding-top: 50px;
      padding-bottom: 50px;

      &.format-video {
        padding-top: 0;

        .meta.top {
          padding-top: 50px;
        }
      }

      &:first-of-type {
        padding-top: 150px;

        &.format-video {
          padding-top: 100px;

          .meta.top {
            padding-top: 50px;
          }
        }
      }
    }

    &.with-image {
      overflow: hidden;

      .featured-image {
        img {
          width: 100%;
        }
      }

      .post-wrapper {
        position: relative;
        padding: 30px 20px;
        transform: scaleY(-1);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;

        .post-inner {
          position: relative;
          z-index: 2;
          transform: scaleY(-1);
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: .88;
        }
      }
    }
  }
}

.main {
  ul {
    &.sharer {
      margin-left: 0;
      margin-top: 10px;

      li {
        margin-top: 10px;

        a {
          .fa {
            padding: 0 10px;

            &:hover {
              opacity: .5;
            }
          }
        }
      }
    }
  }
}

.meta-hold {
  display: inline-block;
  width: 100%;
}

.meta, .main .meta {
  padding: 0;
  margin: 0;
  list-style: none;
}
.meta li, .main .meta li {
  display: inline;
}
.meta li a, .main .meta li a {
  text-decoration: none;
}
.meta li:after, .main .meta li:after {
  content: ' / ';
  opacity: .5;
}
.meta li:last-child:after, .main .meta li:last-child:after {
  content: '';
}
.meta .author-meta, .main .meta .author-meta {
  display: table;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.meta .author-meta .author-avatar, .meta .author-meta .author-byline, .main .meta .author-meta .author-avatar, .main .meta .author-meta .author-byline {
  display: table-cell;
  vertical-align: middle;
}
.meta .author-meta .author-avatar, .main .meta .author-meta .author-avatar {
  width: 30px;
}

.post-template {
  .main {
    .author-meta {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .post-after-header {
    position: relative;
    position: sticky;
    top: 40px;
    left: 0;
    height: 200px;
    width: 0;
    float: left;
  }

  .social-share {
    position: absolute;
    left: -130px;
    top: 0;
    padding: 0 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin-top: .1em;
        :first-child {
          margin-top: 0;
        }
      }
    }
    a {
      display: block;
      width: 48px;
      height: 48px;
      background-color: #999;
      transition: background-color .2s;
      cursor: pointer;
      text-indent: 100%;
      &.twitter {
        background-color: desaturate(#1da1f2, 50%);
        &:hover { background-color: #1da1f2 };
      }
      &.facebook {
        background-color: desaturate(#3b5998, 50%);
        &:hover { background-color: #3b5998 };
      }
      &.pocket {
        background-color: desaturate(#ee4056, 50%);
        &:hover { background-color: #ee4056 };
      }
      &.instapaper {
        background-color: desaturate(#000000, 50%);
        &:hover { background-color: #000000 };
      }
      .icon-wrapper {
        display: block;
        padding: 8px 0;
      }
      svg {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0 auto;
        path {
          fill: #fff;
        }
      }
    }
  }
}

.VHS{
  background-image: url(/assets/img/VHS.gif);
}

.meta-hold, nav.pagination {
  border-top: 0px solid #e5e5e5;
  margin-top: 40px;
  padding-top: 15px;
}

nav.pagination {
  margin-bottom: -25px;
}
nav.pagination span {
  display: inline-block;
  margin-right: 10px;
}

.more-link, .btn, .comment-reply-link {
  display: inline-block;
  border: 2px solid #fff;
  padding: 12px 42px;
  text-decoration: none;
  background-image: url(/assets/img/glitch-button.gif);
}

.comment-reply-link {
  padding: 5px 15px;
}

button, input[type="submit"] {
  display: inline-block;

}

.more-link:hover, .btn:hover, button:hover, input[type="submit"]:hover {
  opacity: 0.7;
  background-image: url(/assets/img/glitch-hover.gif);
}

::-webkit-input-placeholder {
  color: #060b0e;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #060b0e;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #060b0e;
}

:-ms-input-placeholder {
  color: #060b0e;
}

#overlay ::-webkit-input-placeholder {
  color: #fff;
}
#overlay :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#overlay ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#overlay :-ms-input-placeholder {
  color: #fff;
}

/* ==========================================================================
  Single Post
  ========================================================================== */
.post-template .main article.no-image {
  padding-top: 140px;
}
.post-template .main article.no-image.format-video {
  padding-top: 100px;
}

.main .post-top.expanded {
  height: auto;
}
.main .expanded, .main .post-top {
  transition: height 0.5s ease-in;
}
.main .expanded .f-expander {
  bottom: 0;
  top: auto !important;
}
.main .post-top {
  position: relative;
}
.main .post-inner, .main .post-align {
  padding: 0 15px;
}
.main .post-align {
  padding-top: 30px;
}
.main .f-expander {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: -54px;
  height: 0px;
  width: 0px;
  z-index: 8;
  text-align: center;
}
.f-expander{
    display: none;
}
.main .f-expander svg {
  width: 22px;
  height: 22px;
  display: none;
}
.main .f-expander svg#expand {
  fill: #060b0e;
  display: none;
}
.main .f-expander svg#un-expand {
  display: none;
  fill: #060b0e;
}
.main .f-expander.active svg#un-expand {
  display: none;
}
.main .f-expander.active svg#expand {
  display: none;
}
.main ul, .main ol {
  padding-bottom: 10px;
}
.main .author-wrap {
  display: table;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 85px 10px 0 10px;
  text-align: center;
}
.main .author-wrap a {
  text-decoration: none;
}
.main .author-wrap h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .author-wrap h6 span {
  display: block;
  margin-bottom: 4px;
}

.comments-form {
  background: #f9f9f9;
  display: table;
  width: 100%;
  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.author-avatar img {
  width: 50px;
  height: 50px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 100px;
}

.author-avatar.avatar-small img {
  width: 25px;
  height: 25px;
}

#comments {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
}

.pagination {
  display: table;
  width: 100%;
  font-weight: 600;
}
.pagination .next-posts, .pagination .previous-posts {
  display: table-cell;
  width: 50%;
  border: 0px solid #e5e5e5;
  text-align: center;
}
.pagination .next-posts a, .pagination .previous-posts a {
  display: block;
  padding: 30px 20px;
  text-decoration: none;
}
.pagination .next-posts {
  border-right: none;
}
.pagination .previous-posts {
  border-left: 0;
}


/* ==========================================================================
  Page
  ========================================================================== */
.page-template .main article.no-image {
  padding-top: 100px;
}
.page-template .main article.no-image.format-video {
  padding-top: 0;
}
.page-template .main .archives-content {
  display: table;
  width: 100%;
}

/* ==========================================================================
  Captions
  ========================================================================== */
.image-caption {
  padding: 10px;
  display: table;
  width: 100%;
}

.main-archive article .image-caption {
  display: none;
}

/* ==========================================================================
  Search / Author / Category and Tag
  ========================================================================== */
.tag-template .result, .author-template .result, .sans-image .result {
  padding: 200px 0 100px;
  text-align: center;
}
.tag-template header.header, .author-template header.header, .sans-image header.header {
  background-color: #transparent;
}

/* ==========================================================================
  Homepage
  ========================================================================== */
.main-archive article.home-article {
  display: table;
  width: 100%;
  height: 300px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-archive article.home-article .more-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.main-archive article.home-article .more-arrow svg#more-arrow {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.main-archive article.home-article .more-arrow span {
  position: absolute;
  left: -999999em;
}
.main-archive article.home-article:before {
  display: none;
}
.main-archive article.home-article:after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  transition: opacity 0.25s ease-in;
}
.main-archive article.home-article .home-inner {
  display: table-cell;
  padding: 150px 30px 120px 30px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}
.main-archive article.home-article .home-inner h1 {
  position: relative;
}
.main-archive article.home-article .home-inner h1:after {
  content: '';
  position: relative;
  display: block;
  width: 70%;
  max-width: 210px;
  margin: 25px auto;
  border-top: 1px solid #fff;
  height: 1px;
}
.main-archive article.home-article .home-inner .inner {
  max-width: 1080px;
}
.main-archive article.home-article .home-inner * {
  color: #fff;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: #fff;
  display: table;
}
.loader .loader-inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.loader .loader-inner span {
  display: block;
}

/* ==========================================================================
  Author Enhanced
  ========================================================================== */
.author-template .main-archive article.result.author-enhanced {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 30px;
}
.author-template .main-archive article.result.author-enhanced .author-avatar img {
  width: 100px;
  height: 100px;
}
.author-template .main-archive article.result.author-enhanced .meta {
  display: block;
  width: 100%;
}
.author-template .main-archive article.result.author-enhanced h1 {
  margin-bottom: 20px;
}
.author-template .main-archive article.result.author-enhanced .author-socials-wrap:before {
  content: '';
  display: block;
  width: 80%;
  max-width: 210px;
  border-top: 1px solid #e5e5e5;
  margin: 20px auto 15px auto;
}
.author-template .main-archive article.result.author-enhanced .author-socials {
  display: inline-block;
  opacity: .3;
  padding: 15px;
}
.author-template .main-archive article.result.author-enhanced .author-socials:hover {
  opacity: 1;
}
.author-template .main-archive article.result.author-enhanced .author-socials .fa {
  font-size: 18px;
}
.author-template .main-archive article.result.author-enhanced .author-socials span {
  display: none;
}

p {
  margin-bottom: 15px;
}

p + .more-link, p + .btn {
  margin-top: -10px;
}

p:last-of-type {
  margin-bottom: 0;
}


.comments-form h3#respond-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.meta,
.comment-reply-link,
.comment-date,
.author-wrap h6 span {
  font-size: 16px;
  font-size: 1.6rem;
}

.main-archive h2, h1 {
  font-size: 75px;
  font-size: 7.5rem;
  margin-top: 2px;
  margin-bottom: 7px;
  line-height: .9;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 25px;
  @include textGlitch("glitch", 17, white, black, red, blue, 450, 115);
}

.excerpt {
  font-size: 23px;
  font-size: 2.3rem;
  line-height: 1.1;
}

.more-link, .btn, button, input[type="submit"], footer, .loader span {
  font-size: 15px;
  font-size: 2.5rem;
}

.author-wrap h6 span, .loader span {
  text-transform: none;
}

body, .meta, .excerpt, .author-wrap h6 span, .loader span {
  font-weight: 400;
}

.tagcloud, input[type="text"].s, .more-link, .btn, header.header .logo, input[type="submit"], button, input[type="text"], input[type="url"], input[type="email"], input[type="tel"], input[type="password"], textarea, #comments .url, .comment-date, .comment-reply-link, .loader {
  font-style: normal;
}

#menu, .meta, .author-wrap h6 span, footer, .excerpt, .pagination, .loader span, .home-content {
  font-style: normal;
}

.meta time {
  padding-left: 5px;
}

.excerpt {
  padding-left: 2px;
}

.more-link {
  font-style: normal;
}

@import 'colors.less';

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (min-width: 40em) {

  .main-archive article.home-article, .main-archive article.home-article:first-of-type {
    height: 500px;
  }

  .image-caption {
    position: absolute;
    right: 54px;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 54px;
    width: auto;
  }

  .main-archive article {
    position: relative;
  }
  .main-archive article.with-image.format-gallery .featured-image img {
    opacity: 1;
  }
  .main-archive article.with-image.buttons-on:hover .featured-image img {
    opacity: 1;
  }
  .main-archive article.with-image {
    margin-top: -1px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .main-archive article.with-image:before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in;
  }
  .main-archive article.with-image .featured-image img {
    opacity: 0;
  }
  .main-archive article.with-image:hover:before {
    opacity: .7;
  }
  .main-archive article.with-image .post-wrapper {
    background-image: none !important;
    position: absolute;
    width: 46%;
    bottom: 0;
    right: 0;
    text-align: right;
    z-index: 2;
    padding: 30px;
  }
  .main-archive article.with-image .post-wrapper:after {
    background-color: transparent;
  }
  .main-archive article.with-image .post-wrapper .post-inner {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .main-archive article.with-image:nth-of-type(2n) .post-wrapper {
    text-align: left;
    right: 0;
    left: 0;
  }
  .main-archive article.with-image:nth-of-type(2n) .post-wrapper .post-inner {
    margin-left: 20px;
  }

  .comments-form {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .main .meta-hold {
    margin-bottom: -7px;
  }
  .main .meta.bottom {
    float: left;
    padding-left: 10px;
  }
  .main ul.sharer {
    float: right;
    margin-top: 0;
    padding-right: 10px;
  }
  .main .post-inner, .main .post-align {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .with-image.format-audio .post-header-inner {
    margin-bottom: 40px;
  }
  .main .with-image.format-audio .post-audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }
  .main .with-image .post-top {
    height: 490px;
    overflow: hidden;
  }
  .main .with-image .post-header {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: left;
    z-index: 2;
  }
  .main .with-image .post-header .post-header-inner {
    padding: 20px 0;
    display: block;
    width: 100%;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .main .post-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }

  .post-navigation .previous-post-link,
  .post-navigation .next-post-link {
    display: table-cell;
    width: 50%;
  }
  .post-navigation .previous-post-link a .nav-inner,
  .post-navigation .next-post-link a .nav-inner {
    height: 270px;
  }

  .widgets .widget {
    display: inline-block;
    width: 50%;
    margin-right: -5px;
    padding: 0 20px;
    float: left;
  }
  .widgets .widget ul:after {
    display: none;
  }
}


.jumbotron{
  font-size: 300%;
}

.signup-box{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.glitch{
  @include textGlitch("don't die", 17, white, black, red, blue, 450, 115);
}

.social-icon{
  letter-spacing: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.visually-hidden {
  pointer-events: none;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  padding: 0;
  border: 0;
  overflow: hidden;
}

@import 'cycling-topics.less';

.screen-reader-text { /* Hide only visually, but have it available for screenreaders */
  position: absolute !important;
  display: block;
  visibility: visible;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0px, 0px, 0px, 0px); /* deprecated */
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap; /* wrap uses line feeds but LFs are not recognized as spaces by screen readers */
}
