@mobile: ~"(max-width:599px)";
@desktop: ~"(min-width:600px)";
@highdensity: ~"(min-resolution: 192dpi), (min-resolution: 2dppx)";

@column-width: 760px;
@spacing: 20px;

@default                : #393a3a;
@black                  : #000;
@white                  : #fff;
@accent                 : #ff423b;
@accenthover            : #3d4247;

@offblack               : #060b0e;
@offwhite               : #fdfdfd;
@justgrey               : #f9f9f9;
@lightgrey              : #e5e5e5;
@selectgrey             : #f5f5f5;
@linegrey               : #f5f5f5;
@grey                   : #8c8c8c;
@altgrey                : #767c7e;
@offgrey                : #404b4c;
@offred                 : #e05555;
@deepred                : #a73b3b;
@charcoal               : #1e2526;
@socialgrey             : #a0abae;
@footergrey             : #939fa2;
